@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #171717;
  --primary: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #171717;
    --primary: #f3f3f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
